---
layout: default
description: "Кратък наръчник за най-добрите актуални практики в PHP, приети стандарти за писане на код и връзки към качествени PHP ръководства в Интернет"
sitemap: true
---

{% capture welcome_content %}{% include welcome.md %}{% endcapture %}
<section class="chapter" id="welcome">
    {{ welcome_content|markdownify }}
</section>

{% capture backtotop %}[Нагоре](#top){:.top}{% endcapture %}
{% for post in site.posts reversed %}
{% if post.isChild != true and loop.first != true %}<div class="back-to-top">{{ backtotop|markdownify }}</div>{% endif %}
<section class="chapter" id="{% if post.anchor %}{{ post.anchor }}{% else %}{{ post.title | downcase | replace:' ','_' | replace:'(','' | replace:')','' | replace:'.','' | replace:'-','' }}{% endif %}">
    {{ post.content }}
</section>
{% endfor %}
